# =========================
# macOS / OS X
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# R
# =========================
.Rhistory
.RData
.Rapp.history

# =========================
# App / Local Artifacts
# =========================
.cache.sqlite
*.sqlite3
